.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
}

.avatar{
    margin-left: 10px;
}
.sidebar_name{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #A2DBFA;
    color: black;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer > input{
    /* border: none;
    margin-left: 10px;
    width: 100%; */
    width: 0;
    flex: 1 0;
    color: #EEE;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url('../images/search/icons8-search.svg') no-repeat #ffffff4d;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
    background-position: 15px center;
    background-size: 20px 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
}

.sidebar_searchContainer{
    display: flex;
    align-items: center;
    /* background-color: white; */
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgray ;
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}


.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right:  2vw ;
    font-size: 24px !important;
}

.sidebar_headerRight > .MuiIconButton-root{
    color: rgb(255 255 255 / 54%);
}

.sidebar_chats{
    flex: 1;
    overflow: scroll;

}